 <div id="formBox" class="formDiv">
        <h1>Entre agora</h1>
        <form action="/login" method="post">
            <label for="email">Endereço de Email:</label>
            <input type="email" name="email" placeholder="Digite seu endereço de e-mail" required>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
            <input type="submit" value="Avançar">
        </form>
        <button class="forgotPassBtn">Esqueceu a senha?</button>
        <p>Não tem uma conta? <span class="alterModal register"><a href="/register">Cadastre-se!</a></span></p>
    </div>