<article class="secArticle2">
    <h1>Quem somos?</h1>
    <p>A E-trashway nada mais é que uma solução inovadora no cenário do descarte de lixo eletrônico. Enfrentamos um desafio global, pois o Monitor Global do Lixo Eletrônico da ONU revelou que mais de 50 milhões de toneladas são geradas anualmente, com menos de 3% reciclado na América Latina. Essa problemática impacta a saúde pública e o meio ambiente, evidenciando a necessidade de uma abordagem eficaz.</p>
</article>
<article class="secArticle3">
    <h1>Nosso objetivo</h1>
    <p>A missão da E-trashway é transformar o cenário do descarte de lixo eletrônico, oferecendo uma solução inovadora e acessível. Buscamos mitigar os impactos negativos à saúde pública e ao meio ambiente causados pelo descarte inadequado de E-lixos, incluindo metais pesados. Desenvolvemos o aplicativo "E-trashway" com o propósito de facilitar o descarte correto, encurtando a distância entre usuários e as regiões apropriadas de descarte. Nosso objetivo final é tornar o descarte sustentável uma prática comum, envolvendo jovens-adultos, empresas de coleta e eletrônicos, contribuindo para um ambiente mais saudável e consciente.</p>
</article>
<div class="perfis">
    <h1>NOSSA EQUIPE</h1>
    <section><img src="/svgs/image 4.svg" alt="">
    <p>Adryelle Hipólita</p>
    </section>
    <section><img src="/svgs/image 13.svg" alt="">
    <p>Ângelo Gomes Barros</p>
    </section>
    <section><img src="/svgs/image 6.svg" alt="">
    <p>Maria Cecylia Bizerra</p>
    </section>
    <section><img src="/svgs/image 5.svg" alt="">
    <p>Ryan Fernando de Souza</p>
    </section>
    <section><img src="/svgs/image 7.svg" alt="">
    <p>Sarah Soares Barbosa</p>
    </section>
</div>
<article class="secArticle4">
    <h1>Vem com a gente!</h1>
    <p>A missão da E-trashway é transformar o cenário do descarte de lixo eletrônico, oferecendo uma solução inovadora e acessível. Buscamos mitigar os impactos negativos à saúde pública e ao meio ambiente causados pelo descarte inadequado de E-lixos, incluindo metais pesados. Desenvolvemos o aplicativo "E-trashway" com o propósito de facilitar o descarte correto, encurtando a distância entre usuários e as regiões apropriadas de descarte. Nosso objetivo final é tornar o descarte sustentável uma prática comum, envolvendo jovens-adultos, empresas de coleta e eletrônicos, contribuindo para um ambiente mais saudável e consciente.</p>

    <button>Descubra Agora!</button>
</article>