<div class="contact-main">
    <h1>ENTRE EM CONTATO CONOSCO</h1>

    <form action="/e_trashway/contact" method="post">
        <p>Endereço de Email:</p>
        <input class="pesquisa" name="email" type="email">
        <p>Mensagem:</p>
        <textarea name="message" cols="30" rows="10"></textarea>
    </form>
</div>