<div class="comment-main">
    <h1>DEIXE SEU FEEDBACK</h1>

    <form action="">
        N comentários
        <p>Adicione um comentário...</p>
        <textarea name="descricao" cols="30" rows="10"></textarea>
    </form>

    <div class="comments">
        <section>
            <img src="" alt="">
            
        <article>
            <p>Lucas Moraes</p>
            <p>Excelente lugar de reciclagem de materiais elétricos.</p>
        </article>
        <img src="/svgs/feliz.svg" alt="">
        <img src="/svgs/triste.svg" alt="">
        </section>
        <section>
            <img src="" alt="">
            
        <article>
            <p>Ana Silva</p>
            <p>Atendimento excelente!!!</p>
        </article>
        <img src="/svgs/feliz.svg" alt="">
        <img src="/svgs/triste.svg" alt="">
        </section>
        <section>
            <img src="" alt="">
            
        <article>
            <p>Marcos Oliveira</p>
            <p>Primeira vez em que solicito este serviço, porém, sinto-me muitíssimo bem, pois acredito ter tomado uma boa decisão. A coleta foi de primeiríssima qualidade. Obrigado.</p>
        </article>
        <img src="/svgs/feliz.svg" alt="">
        <img src="/svgs/triste.svg" alt="">
        </section>
        <section>
            <img src="" alt="">
            
        <article>
            <p>Bruno Lima</p>
            <p>Local de reciclagem exemplar para materiais elétricos.</p>
        </aticle>
        <img src="/svgs/feliz.svg" alt="">
        <img src="/svgs/triste.svg" alt="">
        </section>
        <section>
            <img src="" alt="">
            
        <article>
            <p>Julia Santos</p>
            <p>O centro de coleta e reciclagem é de fácil acesso. Além disso, a empresa possui serviço de coleta em casa. Fui muito bem recebido pela equipe administrativa, que me atendeu no escritório.</p>
        </article>
        <img src="/svgs/feliz.svg" alt="">
        <img src="/svgs/triste.svg" alt="">
        </section>
        <input type="button" value="Enviar">
    </div>
</div>